/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 * @version 2.0.12
 */
'use strict'

import ~~~~package_name@pascalcase~~~~ from './~~~~package_name@pascalcase~~~~'
import ~~~~package_name@pascalcase~~~~Style from './~~~~package_name@pascalcase~~~~Style'

export default ~~~~package_name@pascalcase~~~~

export {
  ~~~~package_name@pascalcase~~~~,
  ~~~~package_name@pascalcase~~~~Style
}
