'use strict'

import React from 'react'
import PropTypes from 'prop-types'
import classnames from 'classnames'
import ~~~~package_name@pascalcase~~~~Style from './~~~~package_name@pascalcase~~~~Style'
import { htmlAttributesFor, eventHandlersFor } from 'the-component-util'

/**
 * ~~~~package_description~~~~
 */
class ~~~~package_name@pascalcase~~~~ extends React.PureComponent {
  render () {
    const s = this
    const { props } = s
    let {
      className,
      children
    } = props
    return (
      <div {...htmlAttributesFor(props, { except: [ 'className' ] })}
           {...eventHandlersFor(props, { except: [] })}
           className={classnames('~~~~package_name~~~~', className)}
      >
        {children}
      </div>
    )
  }
}

~~~~package_name@pascalcase~~~~.Style = ~~~~package_name@pascalcase~~~~Style

~~~~package_name@pascalcase~~~~.propTypes = {}

~~~~package_name@pascalcase~~~~.defaultProps = {}

~~~~package_name@pascalcase~~~~.displayName = '~~~~package_name@pascalcase~~~~'

export default ~~~~package_name@pascalcase~~~~
