'use strict'

import React from 'react'
import PropTypes from 'prop-types'
import classnames from 'classnames'

/**
 * ~~~~package_description~~~~
 */
class ~~~~package_name@pascalcase~~~~ extends React.PureComponent {
  render () {
    const s = this
    const { props } = s
    let {
      id,
      className,
      styles,
      children
    } = props
    return (
      <div className={ classnames('~~~~package_name~~~~', className) }
           style={ styles.root }
           { ...{ id }}
      >
        { children }
      </div>
    )
  }

  /**
   * Define style
   * @param [options={}] options - Optional settings
   * @returns {Object} Style object
   */
  static styles (options = {}) {
    return {
      root: {}
    }
  }
}

~~~~package_name@pascalcase~~~~.propTypes = {
  /** CSS class name */
  className: PropTypes.string,
  /** Style objects */
  styles: PropTypes.object,
  /** DOM Id */
  id: PropTypes.string
}

~~~~package_name@pascalcase~~~~.defaultProps = {
  className: null,
  styles: ~~~~package_name@pascalcase~~~~.styles({}),
  id: null
}

~~~~package_name@pascalcase~~~~.displayName = '~~~~package_name@pascalcase~~~~'

export default ~~~~package_name@pascalcase~~~~
