'use strict'

import React from 'react'
import PropTypes from 'prop-types'
import classnames from 'classnames'
import TheStyle from 'the-style'
import { asStyleData } from 'the-component-util'

/** Style for ~~~~package_name@pascalcase~~~~ */
const ~~~~package_name@pascalcase~~~~Style = ({ id, className, options }) => (
  <TheStyle { ...{ id } }
            className={ classnames('~~~~package_name~~~~-style', className) }
            styles={ ~~~~package_name@pascalcase~~~~Style.data(options) }
  />
)

~~~~package_name@pascalcase~~~~Style.displayName = '~~~~package_name@pascalcase~~~~Style'
~~~~package_name@pascalcase~~~~Style.propTypes = {
  /** Style options */
  options: PropTypes.object
}

~~~~package_name@pascalcase~~~~Style.defaultProps = {
  options: {}
}

~~~~package_name@pascalcase~~~~Style.data = (options) => {
  const { ThemeValues } = TheStyle
  let {
    dominantColor = ThemeValues.dominantColor
  } = options
  return asStyleData('.~~~~package_name~~~~', {
    '': {}
  })
}

export default ~~~~package_name@pascalcase~~~~Style
