/**
 * Test for ~~~~package_name@pascalcase~~~~Style.
 * Runs with mocha.
 */
'use strict'

import ~~~~package_name@pascalcase~~~~Style from '../lib/~~~~package_name@pascalcase~~~~Style'
import React from 'react'
import { ok, equal } from 'assert'
import { render } from 'the-script-test'

describe('~~~~package_name~~~~-style', () => {
  before(() => {
  })

  after(() => {
  })

  it('Render a component', () => {
    let element = render(
       <~~~~package_name@pascalcase~~~~Style />
    )
    ok(element)
  })
})

/* global describe, before, after, it */
