/**
 * Test for ~~~~package_name@pascalcase~~~~.
 * Runs with mocha.
 */
'use strict'

import ~~~~package_name@pascalcase~~~~ from '../lib/~~~~package_name@pascalcase~~~~'
import React from 'react'
import { ok, equal } from 'assert'
import { render } from 'the-script-test'

describe('~~~~package_name~~~~', () => {
  before(() => {
  })

  after(() => {
  })

  it('Render a component', () => {
    let element = render(
       <~~~~package_name@pascalcase~~~~ />
    )
    ok(element)
  })
})

/* global describe, before, after, it */
