/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */
'use strict'

const ~~~~package_name@pascalcase~~~~ = require('./~~~~package_name@pascalcase~~~~')
const create = require('./create')

module.exports = {
  ~~~~package_name@pascalcase~~~~,
  create,
  default: create,
}
