/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */
'use strict'

import ~~~~package_name@pascalcase~~~~ from './~~~~package_name@pascalcase~~~~'
import create from './create'

export {
  ~~~~package_name@pascalcase~~~~,
  create,
}

export default create
