/**
 * @class ~~~~package_name@pascalcase~~~~
 */
'use strict'

/** @lends ~~~~package_name@pascalcase~~~~ */
class ~~~~package_name@pascalcase~~~~ {
}

module.exports = ~~~~package_name@pascalcase~~~~
