/**
 * Test for ~~~~name_of_controller_class~~~~.
 * Runs with mocha.
 */
'use strict'

const ~~~~name_of_controller_class~~~~ = require('../lib/~~~~name_of_controller_class~~~~')
const theDb = require('the-db')
const { ok, equal } = require('assert')

describe('~~~~name_of_controller_class@spinalcase~~~~', () => {
  before(() => {
  })

  after(() => {
  })

  it('Do test', () => {
    let db = theDb({ dialect: 'memory' })

    let ctrl = new ~~~~name_of_controller_class~~~~({
      app: { db },
      session: {}
    })
    ok(ctrl)
  })
})

/* global describe, before, after, it */
