/**
 * Test for ~~~~name_of_controller_class~~~~.
 * Runs with mocha.
 */
'use strict'

const ~~~~name_of_controller_class~~~~ = require('../lib/~~~~name_of_controller_class~~~~')
const { ok, equal } = require('assert')

describe('~~~~name_of_controller_class@spinalcase~~~~', () => {
  before(() => {
  })

  after(() => {
  })

  it('Do test', () => {
    let ctrl = new ~~~~name_of_controller_class~~~~()
    ok(ctrl)
  })
})

/* global describe, before, after, it */
