'use strict'

const { api } = require('the-templates')
const { signature } = require('the-script-jsdoc')

module.exports = api({
  pkg: require('../../package.json'),
  signature: signature(
    require('../../jsdoc.json'),
    {
      classNames: [ '~~~~name_of_resource_class~~~~' ],
      functionNames: [ 'create' ]
    }
  )
})

if (!module.parent) {
  require('coz').render(__filename)
}
