# ~~~~package_name~~~~@2.0.4

~~~~package_description~~~~

+ Functions
  + [create(args)](#~~~~package_name~~~~-function-create)
+ [`~~~~name_of_resource_class~~~~`](#~~~~package_name~~~~-classes) Class
  + [new ~~~~name_of_resource_class~~~~()](#~~~~package_name~~~~-classes-~~~~name_of_resource_class@spinalcase~~~~-constructor)
+ [`~~~~name_of_resource_class~~~~Entity`](#~~~~package_name~~~~-classes) Class
  + [new ~~~~name_of_resource_class~~~~Entity()](#~~~~package_name~~~~-classes-~~~~name_of_resource_class@spinalcase~~~~-entity-constructor)

## Functions

<a class='md-heading-link' name="~~~~package_name~~~~-function-create" ></a>

### create(args) -> `~~~~name_of_resource_class~~~~`

Create a ~~~~name_of_resource_class~~~~ instance

| Param | Type | Description |
| ----- | --- | -------- |
| args | * |  |



<a class='md-heading-link' name="~~~~package_name~~~~-classes"></a>

## `~~~~name_of_resource_class~~~~` Class

~~~~package_description~~~~

**Extends**: 

+ `Resource`



<a class='md-heading-link' name="~~~~package_name~~~~-classes-~~~~name_of_resource_class@spinalcase~~~~-constructor" ></a>

### new ~~~~name_of_resource_class~~~~()

Constructor of ~~~~name_of_resource_class~~~~ class



<a class='md-heading-link' name="~~~~package_name~~~~-classes"></a>

## `~~~~name_of_resource_class~~~~Entity` Class






<a class='md-heading-link' name="~~~~package_name~~~~-classes-~~~~name_of_resource_class@spinalcase~~~~-entity-constructor" ></a>

### new ~~~~name_of_resource_class~~~~Entity()

Constructor of ~~~~name_of_resource_class~~~~Entity class





