/**
 * Crawler class
 * @class ~~~~name_of_crawler_class~~~~
 */
'use strict'

const { TheCrwl } = require('the-crawler-base')

/** @lends ~~~~name_of_crawler_class~~~~ */
class ~~~~name_of_crawler_class~~~~ extends TheCrwl {
  async crawl (config = {}) {

  }
}

module.exports = ~~~~name_of_crawler_class~~~~
