{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "shim",
  "scripts": {
    "build": "the-script-build",
    "doc": "the-script-doc",
    "prepare": "the-script-build && the-script-doc",
    "release": "the-script-release -y",
    "share": "the-script-share",
    "test": "the-script-test",
    "update": "the-script-update",
    "watch": "the-script-build -w"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "react-component",
    "the"
  ],
  "author": {
    "name": "~~~~author_name~~~~",
    "email": "~~~~author_email~~~~",
    "url": "~~~~author_url~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/~~~~github_repository~~~~/issues"
  },
  "homepage": "https://github.com/~~~~github_repository~~~~#readme",
  "dependencies": {
    "classnames": "^2.2.6",
    "prop-types": "^15.6.2",
    "the-component-util": "^2.4.0",
    "the-style": "^2.1.11"
  },
  "devDependencies": {
    "@babel/runtime": "7.0.0-beta.44",
    "objnest": "^4.1.4",
    "react": "^16.4.1",
    "react-dom": "^16.4.1",
    "react-router-dom": "^4.3.1",
    "the-component-demo": "^4.0.12",
    "the-script-build": "^3.1.17",
    "the-script-doc": "^1.0.2",
    "the-script-release": "^1.0.6",
    "the-script-share": "^1.0.5",
    "the-script-test": "^2.1.1",
    "the-script-update": "^2.0.0",
    "the-templates": "^4.0.17"
  },
  "peerDependencies": {
    "react": ">=16",
    "react-dom": ">=16"
  },
  "engines": {
    "node": ">=8",
    "npm": ">=5"
  }
}