{
  "~~~~package_name@pascalcase~~~~": {
    "description": "~~~~package_name@pascalcase~~~~",
    "displayName": "~~~~package_name@pascalcase~~~~",
    "methods": [
      {
        "name": "style",
        "docblock": null,
        "modifiers": [
          "static"
        ],
        "params": [],
        "returns": null
      }
    ],
    "props": {
      "className": {
        "type": {
          "name": "string"
        },
        "required": false,
        "description": "CSS class name"
      },
      "style": {
        "type": {
          "name": "object"
        },
        "required": false,
        "description": "Style object"
      },
      "id": {
        "type": {
          "name": "string"
        },
        "required": false,
        "description": "DOM Id"
      }
    }
  }
}