{
  "~~~~package_name@pascalcase~~~~": {
    "description": "~~~~package_description~~~~",
    "displayName": "~~~~package_name@pascalcase~~~~",
    "methods": []
  },
  "~~~~package_name@pascalcase~~~~Style": {
    "description": "Style for ~~~~package_name@pascalcase~~~~",
    "displayName": "~~~~package_name@pascalcase~~~~Style",
    "methods": [],
    "props": {
      "options": {
        "type": {
          "name": "object"
        },
        "required": false,
        "description": "Style options",
        "defaultValue": {
          "value": "{}",
          "computed": false
        }
      }
    }
  }
}