'use strict'

const theDb = require('the-db')
const { ~~~~SomeCustomResource~~~~ } = require('~~~~package_name~~~~')

async function tryExample () {
  let db = theDb({
    dialect: 'memory',
    resources: {
      Example: class ExampleResource extends ~~~~SomeCustomResource~~~~ {
        static get nameString () {
          return 'Example'
        }
      }
    }
  })
}

tryExample().catch((err) => console.error(err))
