'use strict'

const theDb = require('the-db')
const { ~~~~name_of_resource_class~~~~ } = require('~~~~package_name~~~~')

async function tryExample () {

  let db = theDb({
    dialect: 'memory'
  })

  db.load(class extends ~~~~name_of_resource_class~~~~ {

  }, '~~~~name_of_resource_class~~~~01')
  let { ~~~~name_of_resource_class~~~~01 } = db.resources

  let entity01 = await ~~~~name_of_resource_class~~~~01.create({ name: 'entity01' })
  /* ... */
}

tryExample().catch((err) => console.error(err))
