'use strict'

import React from 'react'
import { ~~~~package_name@pascalcase~~~~, ~~~~package_name@pascalcase~~~~Style } from '~~~~package_name~~~~'

class ExampleComponent extends React.Component {
  render () {
    return (
      <div>
        <~~~~package_name@pascalcase~~~~Style/>
        <~~~~package_name@pascalcase~~~~>
        </~~~~package_name@pascalcase~~~~>
      </div>

    )
  }
}

export default ExampleComponent
