'use strict'

import React from 'react'
import ~~~~package_name@pascalcase~~~~ from '~~~~package_name~~~~'

class ExampleComponent extends React.PureComponent {
  render () {
    let style = ~~~~package_name@pascalcase~~~~.style({})
    return (
      <div>
        <~~~~package_name@pascalcase~~~~ style={style} />
      </div>
    )
  }
}

export default ExampleComponent
