# ~~~~package_name~~~~@2.0.1

~~~~package_description~~~~

+ Functions
  + [create(args)](#~~~~package_name~~~~-function-create)
+ [`~~~~name_of_crawler_class~~~~`](#~~~~package_name~~~~-classes) Class
  + [new ~~~~name_of_crawler_class~~~~()](#~~~~package_name~~~~-classes-~~~~name_of_crawler_class@spinalcase~~~~-constructor)

## Functions

<a class='md-heading-link' name="~~~~package_name~~~~-function-create" ></a>

### create(args) -> `~~~~name_of_crawler_class~~~~`

Create a ~~~~name_of_crawler_class~~~~ instance

| Param | Type | Description |
| ----- | --- | -------- |
| args | * |  |



<a class='md-heading-link' name="~~~~package_name~~~~-classes"></a>

## `~~~~name_of_crawler_class~~~~` Class

Crawler class




<a class='md-heading-link' name="~~~~package_name~~~~-classes-~~~~name_of_crawler_class@spinalcase~~~~-constructor" ></a>

### new ~~~~name_of_crawler_class~~~~()

Constructor of ~~~~name_of_crawler_class~~~~ class





