{
  "functions": [
    {
      "name": "create",
      "access": "",
      "virtual": false,
      "description": "Create a ~~~~package_name@pascalcase~~~~ instance",
      "parameters": [
        {
          "name": "args",
          "type": "*",
          "description": "",
          "default": "",
          "optional": "",
          "nullable": ""
        }
      ],
      "examples": [],
      "returns": {
        "type": "~~~~package_name@pascalcase~~~~",
        "description": ""
      }
    },
    {
      "name": "create",
      "access": "",
      "virtual": false,
      "description": "Create a ~~~~package_name@pascalcase~~~~ instance",
      "parameters": [
        {
          "name": "args",
          "type": "*",
          "description": "",
          "default": "",
          "optional": "",
          "nullable": ""
        }
      ],
      "examples": [],
      "returns": {
        "type": "~~~~package_name@pascalcase~~~~",
        "description": ""
      }
    }
  ],
  "classes": [
    {
      "name": "~~~~package_name@pascalcase~~~~",
      "description": "",
      "extends": [],
      "access": "",
      "virtual": false,
      "fires": "",
      "constructor": {
        "name": "~~~~package_name@pascalcase~~~~",
        "description": "",
        "parameters": [],
        "examples": []
      }
    },
    {
      "name": "~~~~package_name@pascalcase~~~~",
      "description": "",
      "extends": [],
      "access": "",
      "virtual": false,
      "fires": "",
      "constructor": {
        "name": "~~~~package_name@pascalcase~~~~",
        "description": "",
        "parameters": [],
        "examples": []
      }
    }
  ]
}