/**
 * Test for ~~~~package_name@pascalcase~~~~.
 * Runs with mocha.
 */
'use strict'

const ~~~~package_name@pascalcase~~~~ = require('../lib/~~~~package_name@pascalcase~~~~')
const { ok, equal } = require('assert')

describe('~~~~package_name~~~~', () => {
  before(() => {
  })

  after(() => {
  })

  it('Do test', () => {
    ok(~~~~package_name@pascalcase~~~~)
  })
})

/* global describe, before, after, it */
