{
  "theme_color": "#3A8",
  "description": "Demo site",
  "name": "~~~~package_name~~~~",
  "display": "standalone",
  "lang": "en",
  "icons": [
    {
      "src": "/images/app-icon.png",
      "sizes": "256x256"
    }
  ]
}