/**
 * Create a ~~~~SomeCustomResource~~~~ instance
 * @function create
 * @param {...*} args
 * @returns {~~~~SomeCustomResource~~~~}
 */
'use strict'

const ~~~~SomeCustomResource~~~~ = require('./~~~~SomeCustomResource~~~~')

/** @lends create */
function create (...args) {
  return new ~~~~SomeCustomResource~~~~(...args)
}

module.exports = create
