/**
 * Create a ~~~~package_name@pascalcase~~~~ instance
 * @function create
 * @param {...*} args
 * @returns {~~~~package_name@pascalcase~~~~}
 */
'use strict'

const ~~~~package_name@pascalcase~~~~ = require('./~~~~package_name@pascalcase~~~~')

/** @lends create */
function create (...args) {
  return new ~~~~package_name@pascalcase~~~~(...args)
}

module.exports = create
