/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */
'use strict'

const SomeResource = require('./SomeResource')
const create = require('./create')

const lib = create.bind(this)

Object.assign(lib, {
  SomeResource,
  create
})

module.exports = lib
