/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */
'use strict'

const ~~~~SomeCustomResource~~~~ = require('./~~~~SomeCustomResource~~~~')
const create = require('./create')

const lib = create.bind(this)

Object.assign(lib, {
  ~~~~SomeCustomResource~~~~,
  create
})

module.exports = lib
