/**
 * @class ~~~~package_name@pascalcase~~~~
 */
'use strict'

const { Resource, DataTypes } = require('the-db')
const { STRING } = DataTypes

/** @lends ~~~~package_name@pascalcase~~~~ */
class ~~~~package_name@pascalcase~~~~ extends Resource {
  static get policy () {
    return {
      name: { type: STRING }
    }
  }

  static get nameString () {
    return '~~~~package_name@pascalcase~~~~'
  }
}

module.exports = ~~~~package_name@pascalcase~~~~
