/**
 * ~~~~package_description~~~~
 * @augments Resource
 * @class ~~~~name_of_resource_class~~~~
 */
'use strict'

const { Resource, DataTypes } = require('the-db')
const { STRING } = DataTypes

/** @lends ~~~~name_of_resource_class~~~~ */
class ~~~~name_of_resource_class~~~~ extends Resource {
  static get policy () {
    return {
      name: {
        description: '',
        type: STRING
      }
    }
  }

  static entityClass (ResourceEntity) {
    /** @class */
    class ~~~~name_of_resource_class~~~~Entity extends ResourceEntity {
    }
    return ~~~~name_of_resource_class~~~~Entity
  }
}

module.exports = ~~~~name_of_resource_class~~~~
