/**
 * Create a ~~~~name_of_controller_class~~~~ instance
 * @function create
 * @param {...*} args
 * @returns {~~~~name_of_controller_class~~~~}
 */
'use strict'

const ~~~~name_of_controller_class~~~~ = require('./~~~~name_of_controller_class~~~~')

/** @lends create */
function create (...args) {
  return new ~~~~name_of_controller_class~~~~(...args)
}

module.exports = create
