/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */
'use strict'

const ~~~~name_of_controller_class~~~~ = require('./~~~~name_of_controller_class~~~~')
const create = require('./create')

const lib = create.bind(this)

Object.assign(lib, {
  ~~~~name_of_controller_class~~~~,
  create
})

module.exports = lib
