/**
 * ~~~~package_description~~~~
 * @augments TheCtrl
 * @class ~~~~name_of_controller_class~~~~
 */
'use strict'

const { TheCtrl } = require('the-controller-base')

/** @lends ~~~~name_of_controller_class~~~~ */
class ~~~~name_of_controller_class~~~~ extends TheCtrl {

}

module.exports = ~~~~name_of_controller_class~~~~
