-----BEGIN CERTIFICATE-----
MIIC8jCCAdoCAQEwDQYJKoZIhvcNAQELBQAwPzE9MDsGA1UEAww0TXlTUUxfU2Vy
dmVyXzguMC4yLWRtcl9BdXRvX0dlbmVyYXRlZF9DQV9DZXJ0aWZpY2F0ZTAeFw0x
NzA4MTIwMjU5NDdaFw0yNzA4MTAwMjU5NDdaMD8xPTA7BgNVBAMMNE15U1FMX1Nl
cnZlcl84LjAuMi1kbXJfQXV0b19HZW5lcmF0ZWRfQ0FfQ2VydGlmaWNhdGUwggEi
MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC1xizNC2imwfvw7EgF895IYAuH
ULLjJbC6jA9uII/07BIW4YyresBRJHrv7xvj4es3xVrwp1Yu6Nw0Kk5X8o8MJxZs
zuUzIizP8E3WG8RUjzgtvAfbbGzPLRdVPtmVKbyzrzTMWZHdHF7fyMPS6UbO7GpU
tpH60riihXQY0JK+8JIEYAyoXsR5rpzqekYetXpqtb5WWUxQyTEyi7L9tYZY/U9A
rexQXMWLm/e2p8qGBVspUBlw0e2pDsnPO+SjLqcIdFOehkUPB5F3qy5N7lXo/BsR
Wu8yECleF7RpmEeDCdUQxMlEAOgKr0IjnX2p6zkJogYXdAo7pz36KBtKpGMPAgMB
AAEwDQYJKoZIhvcNAQELBQADggEBAGm9tZA9kA00bLDTYjqUGB/Hr7hgn6eTUTPA
I0C2ziaJ+O6sLf/hQE6XecsaAeM3bfbC5KWnq1fo061eU2YQgMfUqJ8u6LUKybF/
KOZxVKb5Xn1oqKqLXgQuv1v6JkNtuk0qj7d0Li8UPXFJQlu23mrvGPSgp3khBd+8
pjoyw4CXE8RPC1G9q3TA9aIJdtCHvi1II3lqmRKBUalUAyFn8u4EUe7sqYfiRilN
pfydrGa/fLb8z4qnm7zFGdqOvgThnLubZ5VuWERzbt1JyUw1q28Fr1e7PZUaDbAK
NMdDQTcfwutpJa5eO3bmTf1O7ElN4PNHEQygks0NXkrp01V1NvI=
-----END CERTIFICATE-----
