-----BEGIN CERTIFICATE-----
MIIC9jCCAd4CAQMwDQYJKoZIhvcNAQELBQAwPzE9MDsGA1UEAww0TXlTUUxfU2Vy
dmVyXzguMC4yLWRtcl9BdXRvX0dlbmVyYXRlZF9DQV9DZXJ0aWZpY2F0ZTAeFw0x
NzA4MTIwMjU5NDdaFw0yNzA4MTAwMjU5NDdaMEMxQTA/BgNVBAMMOE15U1FMX1Nl
cnZlcl84LjAuMi1kbXJfQXV0b19HZW5lcmF0ZWRfQ2xpZW50X0NlcnRpZmljYXRl
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0FPfLBxeeW57wKWMz32j
1jGs9AFMM+rR6KAhZjKAUmQJ0DEL8FfixDXnmxWO3diaIjRkg9iDgOjujd9MkkU8
rCprOpYh/B7Yx62O13nZXCYAO5B1UmQf6cedm2VMQFrO78tj19cFR41oc5ZDKVKM
UZr40hm4o3OLWv223B1qNNPwz+yGpL28AfZFTh7iEin97X6tI6/f/p6Wk5taG82y
Yr7zpxy7F0oORhITEUjuoa2D7UfgSIqGFW2iuGRZIsao5HEENcJOtBSkbOHebdJ8
TkWtuum1khjn+s9w8EEWvNbQu9VxyjHFbyIsuOA1btRXFXC/709LUQR4nxC5X7bo
SQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQAYGq2tPFv2Gaa3Apu8jdwJf6JMo1V6
ZQ+Xbn6/0mhkYT1hJitaPFVz7IBu2lOIW945h6MOavftvLT2oW868zH/SWc5kg2f
vlpans1CzCDHNIIe+q+B7nwYDfRHB3yWBYI34KnpfRCb58bhwuqILvnttM/OdeyK
6+W2lFbgGfYuxvy7DPLK2+fujGnPzagmQR9/9k3HGYcIzIxtCDqfIMjz8TY38Au6
sH+6LgOHaaJ/vhNBnM/ewfeDMWg8aDkPw/ns7cQ52658iq3/v/o8+UkhIPdOU2B4
v35OePWTTHv5z17M7ebOIb5H1tF/eafjmI7ltGMrSwT2pdQwHT17QE3m
-----END CERTIFICATE-----
