-----BEGIN CERTIFICATE-----
MIIC9jCCAd4CAQIwDQYJKoZIhvcNAQELBQAwPzE9MDsGA1UEAww0TXlTUUxfU2Vy
dmVyXzguMC4yLWRtcl9BdXRvX0dlbmVyYXRlZF9DQV9DZXJ0aWZpY2F0ZTAeFw0x
NzA4MTIwMjU5NDdaFw0yNzA4MTAwMjU5NDdaMEMxQTA/BgNVBAMMOE15U1FMX1Nl
cnZlcl84LjAuMi1kbXJfQXV0b19HZW5lcmF0ZWRfU2VydmVyX0NlcnRpZmljYXRl
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuqhw+/tQJ9lOsKOjCb/F
ypJ4H0jMTtTimks8wSPOszOUHzQQs/VQ9VwrJiBUdRdXbvzvDYnNRSmQJsdhJ4Vc
IYc7IsVrxXEj9QhOYYqfKIaOQAH7r5uKYlCLw2GUsOiBmdxcBcoWZMSJeVls+XtO
6/7wcXvQwqbF7zb/FmgWsMJL1f5kVMLG05A+Ev95/N8ZyhPT0FcfjLm0VRmQOjsE
Sed0xmbcSSPfiyYNbMe0uYBtjNVmUeoLiyPjfotiO3a0ZxMMtzWfbD+kkbUCrKSm
JImSNOtgDmBIyyMUkBdviBnhgLOeK8d1GbkjF2fIVk7wlagvRxxyWVf3ocFLUhhg
pQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQAl4XpBFk/E/WQkcfbb36g8jBuj4Cy4
owW51QVxOz7qp0D8BA0kLDVan4v4FdljZOpHvRaByPBY95x/n24qNeumbPWY9DSL
SmqB5TGI7srwf+EhWoDafpk4oiFuWsKdWFkrGpXwTTS12uCpJz6XCfnnxn5KuogB
MWJDQPRf9y0aMl0/EuvrTGmoMI3tNsGAApM1aprJd7PYRYWBaFn7hhOdsCAYBjPN
6L/vRYSgTe5vAMqY6yipfgOT7+7uMhwPVeOocQWErz/6f914F7ovEn9u60xr8KQ3
N2YEAxyGX4QqdVoOPHKwbzFbYIA385+lbZx0tpU9FwZOsLzSHDadTKd8
-----END CERTIFICATE-----
