/**
 * Test for ~~~~package_name@pascalcase~~~~.
 * Runs with mocha.
 */
'use strict'

const {TheDb} = require('the-db')
const ~~~~package_name@pascalcase~~~~ = require('../lib/~~~~package_name@pascalcase~~~~')
const { ok, equal } = require('assert')

describe('~~~~package_name~~~~', () => {
  before(() => {
  })

  after(() => {
  })

  it('Do test', async () => {
    ok(~~~~package_name@pascalcase~~~~)

    let db = new TheDb({
      dialect: 'memory',
      resources: {
        ~~~~package_name@pascalcase~~~~: ~~~~package_name@pascalcase~~~~
      }
    })

    let resource = db.resource('~~~~package_name@pascalcase~~~~')
    let entity01 = await resource.create({
      name: 'foo'
    })
    ok(entity01)
    equal(entity01.name, 'foo')
  })
})

/* global describe, before, after, it */
