/**
 * Test for ~~~~SomeCustomResource~~~~.
 * Runs with mocha.
 */
'use strict'

const { TheDb } = require('the-db')
const ~~~~SomeCustomResource~~~~ = require('../lib/~~~~SomeCustomResource~~~~')
const { ok, equal } = require('assert')

describe('~~~~package_name~~~~', () => {
  before(() => {
  })

  after(() => {
  })

  it('Do test', async () => {
    ok(~~~~SomeCustomResource~~~~)

    let db = new TheDb({
      dialect: 'memory',
      resources: {
        ~~~~SomeCustomResource~~~~: ~~~~SomeCustomResource~~~~
      }
    })

    let resource = db.resource('~~~~SomeCustomResource~~~~')
    let entity01 = await resource.create({})
    ok(entity01)
  })
})

/* global describe, before, after, it */
