/**
 * Test for ~~~~name_of_resource_class~~~~.
 * Runs with mocha.
 */
'use strict'

const { TheDb } = require('the-db')
const ~~~~name_of_resource_class~~~~ = require('../lib/~~~~name_of_resource_class~~~~')
const { ok, equal } = require('assert')

describe('~~~~package_name~~~~', () => {
  before(() => {
  })

  after(() => {
  })

  it('Do test', async () => {
    ok(~~~~name_of_resource_class~~~~)

    let db = new TheDb({
      dialect: 'memory',
      resources: {
        ~~~~name_of_resource_class~~~~: ~~~~name_of_resource_class~~~~
      }
    })

    let resource = db.resource('~~~~name_of_resource_class~~~~')
    let entity01 = await resource.create({})
    ok(entity01)
  })
})

/* global describe, before, after, it */
