{
  "classes": [
    {
      "name": "~~~~name_of_controller_class~~~~",
      "description": "",
      "extends": [
        "TheCtrl"
      ],
      "access": "",
      "virtual": false,
      "fires": "",
      "constructor": {
        "name": "~~~~name_of_controller_class~~~~",
        "description": "~~~~package_description~~~~",
        "parameters": [],
        "examples": []
      }
    }
  ],
  "functions": [
    {
      "name": "create",
      "access": "",
      "virtual": false,
      "description": "Create a ~~~~name_of_controller_class~~~~ instance",
      "parameters": [
        {
          "name": "args",
          "type": "*",
          "description": "",
          "default": "",
          "optional": "",
          "nullable": ""
        }
      ],
      "examples": [],
      "returns": {
        "type": "~~~~name_of_controller_class~~~~",
        "description": ""
      }
    }
  ]
}