# ~~~~package_name~~~~@1.1.4

~~~~package_description~~~~

+ Functions
  + [create(args)](#~~~~package_name~~~~-function-create)
+ [`~~~~package_name@pascalcase~~~~`](#~~~~package_name~~~~-classes) Class
  + [new ~~~~package_name@pascalcase~~~~()](#~~~~package_name~~~~-classes-~~~~package_name~~~~-constructor)

## Functions

<a class='md-heading-link' name="~~~~package_name~~~~-function-create" ></a>

### create(args) -> `~~~~package_name@pascalcase~~~~`

Create a ~~~~package_name@pascalcase~~~~ instance

| Param | Type | Description |
| ----- | --- | -------- |
| args | * |  |



<a class='md-heading-link' name="~~~~package_name~~~~-classes"></a>

## `~~~~package_name@pascalcase~~~~` Class






<a class='md-heading-link' name="~~~~package_name~~~~-classes-~~~~package_name~~~~-constructor" ></a>

### new ~~~~package_name@pascalcase~~~~()

Constructor of ~~~~package_name@pascalcase~~~~ class





