# ~~~~package_name~~~~@1.0.0

~~~~package_description~~~~

+ Functions
  + [create(args)](#~~~~package_name~~~~-function-create)

## Functions

<a class='md-heading-link' name="~~~~package_name~~~~-function-create" ></a>

### create(args) -> `~~~~package_name@pascalcase~~~~`

Create a ~~~~package_name@pascalcase~~~~ instance

| Param | Type | Description |
| ----- | --- | -------- |
| args | * |  |





