/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */
'use strict';

Object.defineProperty(exports, "__esModule", {
  value: true
});
exports.~~~~package_name@pascalcase~~~~Style = exports.~~~~package_name@pascalcase~~~~ = undefined;

var _~~~~package_name@pascalcase~~~~ = require('./~~~~package_name@pascalcase~~~~');

var _~~~~package_name@pascalcase~~~~2 = _interopRequireDefault(_~~~~package_name@pascalcase~~~~);

var _~~~~package_name@pascalcase~~~~Style = require('./~~~~package_name@pascalcase~~~~Style');

var _~~~~package_name@pascalcase~~~~Style2 = _interopRequireDefault(_~~~~package_name@pascalcase~~~~Style);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

exports.default = _~~~~package_name@pascalcase~~~~2.default;
exports.~~~~package_name@pascalcase~~~~ = _~~~~package_name@pascalcase~~~~2.default;
exports.~~~~package_name@pascalcase~~~~Style = _~~~~package_name@pascalcase~~~~Style2.default;
//# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmpzeCJdLCJuYW1lcyI6WyJUaGVEZW1vQ29tcG9uZW50IiwiVGhlRGVtb0NvbXBvbmVudFN0eWxlIl0sIm1hcHBpbmdzIjoiQUFBQTs7OztBQUlBOzs7Ozs7O0FBRUE7Ozs7QUFDQTs7Ozs7OztRQUtFQSxnQjtRQUNBQyxxQiIsImZpbGUiOiJpbmRleC5qc3giLCJzb3VyY2VSb290IjoibGliIiwic291cmNlc0NvbnRlbnQiOlsiLyoqXG4gKiBEZW1vIG9mIHRoZS1jb21wb25lbnRzXG4gKiBAbW9kdWxlIHRoZS1kZW1vLWNvbXBvbmVudFxuICovXG4ndXNlIHN0cmljdCdcblxuaW1wb3J0IFRoZURlbW9Db21wb25lbnQgZnJvbSAnLi9UaGVEZW1vQ29tcG9uZW50J1xuaW1wb3J0IFRoZURlbW9Db21wb25lbnRTdHlsZSBmcm9tICcuL1RoZURlbW9Db21wb25lbnRTdHlsZSdcblxuZXhwb3J0IGRlZmF1bHQgVGhlRGVtb0NvbXBvbmVudFxuXG5leHBvcnQge1xuICBUaGVEZW1vQ29tcG9uZW50LFxuICBUaGVEZW1vQ29tcG9uZW50U3R5bGVcbn1cbiJdfQ==