/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 * @version 2.0.9
 */
'use strict';

Object.defineProperty(exports, "__esModule", {
  value: true
});
exports.~~~~package_name@pascalcase~~~~Style = exports.~~~~package_name@pascalcase~~~~ = undefined;

var _~~~~package_name@pascalcase~~~~ = require('./~~~~package_name@pascalcase~~~~');

var _~~~~package_name@pascalcase~~~~2 = _interopRequireDefault(_~~~~package_name@pascalcase~~~~);

var _~~~~package_name@pascalcase~~~~Style = require('./~~~~package_name@pascalcase~~~~Style');

var _~~~~package_name@pascalcase~~~~Style2 = _interopRequireDefault(_~~~~package_name@pascalcase~~~~Style);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

exports.default = _~~~~package_name@pascalcase~~~~2.default;
exports.~~~~package_name@pascalcase~~~~ = _~~~~package_name@pascalcase~~~~2.default;
exports.~~~~package_name@pascalcase~~~~Style = _~~~~package_name@pascalcase~~~~Style2.default;
//# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmpzeCJdLCJuYW1lcyI6WyJUaGVEZW1vQ29tcG9uZW50IiwiVGhlRGVtb0NvbXBvbmVudFN0eWxlIl0sIm1hcHBpbmdzIjoiQUFBQTs7Ozs7QUFLQTs7Ozs7OztBQUVBOzs7O0FBQ0E7Ozs7Ozs7UUFLRUEsZ0I7UUFDQUMscUIiLCJmaWxlIjoiaW5kZXguanN4Iiwic291cmNlUm9vdCI6ImxpYiIsInNvdXJjZXNDb250ZW50IjpbIi8qKlxuICogRGVtbyBvZiB0aGUtY29tcG9uZW50c1xuICogQG1vZHVsZSB0aGUtZGVtby1jb21wb25lbnRcbiAqIEB2ZXJzaW9uIDIuMC45XG4gKi9cbid1c2Ugc3RyaWN0J1xuXG5pbXBvcnQgVGhlRGVtb0NvbXBvbmVudCBmcm9tICcuL1RoZURlbW9Db21wb25lbnQnXG5pbXBvcnQgVGhlRGVtb0NvbXBvbmVudFN0eWxlIGZyb20gJy4vVGhlRGVtb0NvbXBvbmVudFN0eWxlJ1xuXG5leHBvcnQgZGVmYXVsdCBUaGVEZW1vQ29tcG9uZW50XG5cbmV4cG9ydCB7XG4gIFRoZURlbW9Db21wb25lbnQsXG4gIFRoZURlbW9Db21wb25lbnRTdHlsZVxufVxuIl19