/**
 * ~~~~package_description~~~~
 * @module ~~~~package_name~~~~
 */
'use strict';

Object.defineProperty(exports, "__esModule", {
  value: true
});
exports.~~~~package_name@pascalcase~~~~ = undefined;

var _~~~~package_name@pascalcase~~~~ = require('./~~~~package_name@pascalcase~~~~');

var _~~~~package_name@pascalcase~~~~2 = _interopRequireDefault(_~~~~package_name@pascalcase~~~~);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

exports.default = _~~~~package_name@pascalcase~~~~2.default;
exports.~~~~package_name@pascalcase~~~~ = _~~~~package_name@pascalcase~~~~2.default;
//# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmpzeCJdLCJuYW1lcyI6WyJUaGVEZW1vQ29tcG9uZW50Il0sIm1hcHBpbmdzIjoiQUFBQTs7OztBQUlBOzs7Ozs7O0FBRUE7Ozs7Ozs7UUFLRUEsZ0IiLCJmaWxlIjoiaW5kZXguanN4Iiwic291cmNlUm9vdCI6ImxpYiIsInNvdXJjZXNDb250ZW50IjpbIi8qKlxuICogRGVtbyBvZiB0aGUtY29tcG9uZW50c1xuICogQG1vZHVsZSB0aGUtZGVtby1jb21wb25lbnRcbiAqL1xuJ3VzZSBzdHJpY3QnXG5cbmltcG9ydCBUaGVEZW1vQ29tcG9uZW50IGZyb20gJy4vVGhlRGVtb0NvbXBvbmVudCdcblxuZXhwb3J0IGRlZmF1bHQgVGhlRGVtb0NvbXBvbmVudFxuXG5leHBvcnQge1xuICBUaGVEZW1vQ29tcG9uZW50XG59XG4iXX0=